<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221148624739-99bvldfvskg1lb2qe8qcmtli25nb66mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221148624739-99bvldfvskg1lb2qe8qcmtli25nb66mk</string>
	<key>API_KEY</key>
	<string>AIzaSyCYLvZwyi4f91p6GOQpXeytSgwHSf3ckM4</string>
	<key>GCM_SENDER_ID</key>
	<string>221148624739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masaytan.shigapeople</string>
	<key>PROJECT_ID</key>
	<string>shiga-people</string>
	<key>STORAGE_BUCKET</key>
	<string>shiga-people.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221148624739:ios:7d3e79220c4cf24472c556</string>
</dict>
</plist>